<div class="col-md-6 mb-5">
	<a href = "<%= user_info_link %>" style="display:flex; justify-content:center; align-items:center; text-decoration:none; color:black; font-size:18px;">
		<img style="margin-right:10px;" width="120px" height="100px" class="img-fluid" src = "<%= user_profile_image %>">
		<div style="top:50%;">
			<div>
				<span><%= department %></span>
				<span><%= stuid %>학번</span>
				<span><%= grade %>학년</span>
			</div>
			<div style="text-align:center;">
				<span><%= name %></span>
			</div>
		</div>
	</a>
</div>