<!DOCTYPE html>
<html>
    <head>
        <title>유저 정보 페이지</title>
        <meta charset="utf-8" />
        <meta name="description" content = "유저 정보 페이지" />
        <link href="/css/user_info.css" rel="stylesheet">
    </head>
    <body>
        <%- include('header.ejs') %>
        <main>
            <div id="user_name_picture">
                <img style="float:left; height:200px;"src="<%= user_profile_image %>">
                <div class="user_name"><%= name %></div>
                <div class="user_gender">(<%= gender %>)</div>
            </div>

            <div class="user_info_list">
                <div class="user_info_wrap">
                    <div class="user_info_name">학과</div>
                    <div class="user_info_data"><%= department %></div>
                </div>

                <div class="" style="width:45%; margin-left: 2.5%;">
                    <div class="user_info_name">학번</div>
                    <div class="user_info_data"><%= stuid %>학번</div>
                </div>

                <div style="width:45%; margin-top:40px; margin-right:2.5%;">
                    <div class="user_info_name">학년</div>
                    <div class="user_info_data"><%= grade %>학년</div>
                </div>

                <div style="width:45%; margin-top:40px; margin-left: 2.5%;">
                    <div class="user_info_name">이메일</div>
                    <div class="user_info_data"><%= email_id %>@gm.hannam.ac.kr</div>
                </div>
            </div>
        </main>
    </body>
</html>